/* @override http://localhost:8080/XXXxx/++resource++ptg.quicksand/style.css */

.quicksand {
    margin: 0 0  9px 0;
    position: relative;
}

.hidden {
	display: none;
}

#quicksandbox div {
float: left
}